:root {
  /* colors custom props */
  --dark-blue-1: #202a3c; /* testimonials background */
  --dark-blue-2: #1c2431; /* intro and email sign up background */
  --dark-blue-3: #181f2a; /* main background */
  --dark-blue-4: #0b1523; /* footer background */
  --cyan: #65e2d9;
  --blue: #339ecc;
  --red: #ff4242;
  --white-1: #ffffff;
  --white-2: #ffffffe5;
  /* backgrounds */
  --bg-body: var(--dark-blue-3);
  --bg-hero: var(--dark-blue-2);
  --bg-footer: var(--dark-blue-4);
  --bg-testimonial: var(--dark-blue-1);
  /* accents */
  --cta-gradient: var(--cyan), var(--blue);
  --error: var(--red);
  /* typography */
  --ff-heading: "Raleway", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  --text-heading: var(--white-1);
  --text-body: var(--white-2);
  --fw-normal: 400;
  --fw-bold: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: var(--ff-body);
  font-size: 0.875rem;
  background-color: var(--bg-body);
  color: var(--text-body);
  line-height: 1.6;
}

:is(img, svg, picture) {
  max-width: 100%;
}

:is(h1, h2, h3, h4) {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  color: var(--text-heading);
}

:is(ol, ul) {
  list-style: none;
}

:is(button, input, a) {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  border-radius: 0.125rem;
}

a:focus-visible {
  outline: 0.125rem solid var(--cyan);
  outline-offset: 0.375rem;
}

button {
  cursor: pointer;
}

li {
  display: inline-block;
}
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}
/* composition styles */
.container {
  width: min(100%, var(--container-width, 82rem));
  margin-inline: auto;
  padding-inline: var(--container-padding, 1rem);
}
.wrapper {
  max-width: var(--wrapper-width, 68ch);
  display: grid;
  gap: var(--wrapper-gap, 1.25rem);
}
